<main>
    <h1>Think Twice</h1>
    <h2>Révélez la toxicité en ligne.</h2>

    <article>
        <h3>Cyberharcèlement ou harcèlement en ligne : de quoi s’agit-il et que faire ?</h3>
        <p>Les enfants passent de plus en plus de temps en ligne. Ils jouent, regardent des émissions en streaming et explorent les réseaux sociaux. Autant d’expériences passionnantes qui comportent malheureusement des risques.</p>
    
        <h4>Qu’est-ce que le cyberharcèlement ?</h4>
        <p>
            Pour faire simple, c’est du harcèlement en ligne. Contrairement au harcèlement classique, les harceleurs utilisent des canaux électroniques (réseaux sociaux, plateformes de gaming, services de tchat ...), pour mener la vie dure à une victime.<br/>
            Il est frappant de constater que près de la moitié des Européens âgés de 10 à 18 ans affirment avoir déjà été harcelés en ligne. C‘est pour cette raison qu’en tant que parents, il importe de reconnaître à temps les signes précurseurs afin de protéger autant que possible votre enfant.
        </p>
    
        <h4>Harcèlement en ligne et harcèlement classique</h4>
        <p>
            Bien que les deux formes de harcèlement aillent souvent de pair, il existe d’importantes différences entre le harcèlement scolaire dans la cour de récré et via un écran. Voici quelques nuances importantes : 
        </p>
        <ul>
            <li>
                Les harceleurs peuvent rester anonymes sur internet. Menacer ou insulter quelqu’un sur les réseaux sociaux ? C’est – hélas – parfaitement possible sans se faire connaître.
            </li>
            <li>
                Les victimes de harcèlement en ligne ne connaissent aucun répit. Si votre enfant est harcelé à l’école, il y échappe pour un moment à la fin de la journée. Le harcèlement digital peut se poursuivre nuit et jour via les réseaux sociaux et les groupes de messagerie. Et il ne suffit pas de couper son téléphone portable pour que cela s’arrête.
            </li>
            <li>
                Les messages sont partagés à l’infini. Dès qu’une vidéo ou une image choquante est uploadée, elle vit sa propre vie. La victime peut donc y rester confrontée très longtemps.
            </li>
            <li>
                Les cyberharceleurs frappent plus fort. En raison de la distance physique entre le harceleur et la victime, les auteurs voient rarement les effets de leurs actes. Ils se montrent donc facilement plus virulents.
            </li>
        </ul>
    
        <h4>Le cyberharcèlement est punissable. Mais quelle est la limite entre une mauvaise blague, une remarque blessante et le harcèlement digital ?</h4>
        <p>
            Concrètement, les auteurs doivent avoir la volonté de nuire et de blesser, et répéter leur comportement à diverses reprises. Les trolls, c’est-à-dire des internautes qui choisissent délibérément d’ennuyer des personnes prises au hasard, peuvent donc ne pas être poursuivis pour leurs actes. Bien que leurs (ré)actions soient souvent blessantes, l’intention sous-jacente est rarement le harcèlement.<br/>
            C’est pour cette raison que les jeunes utilisateurs doivent à tout prix savoir ce qui relève ou non du cyberharcèlement. Car ce qui commence parfois comme une blague innocente peut se terminer en un véritable cauchemar pour toutes les personnes impliquées.
        </p>
    
        <h3>Plus d'infos:</h3>
        <ul>
            <li><a href="https://www.orange.be/fr/blog/cyberharcelement">Cyberharcèlement, de quoi s’agit-il ?</a></li>
            <li><a href="https://www.orange.be/fr/blog/cyberharcelement-exemples">Différents types de cyberharcèlement.</a></li>
            <li><a href="https://www.orange.be/fr/blog/cyberharcelement-conseils-pedopsychiatre">Que faire si mon enfant se fait harceler en ligne ?</a></li>
        </ul>
    </article>
</main>