#extRoot {
  padding: 1rem;
  text-align: center;
  background-color: #f5f6fa;
}

/* .toxic-word {
	background-color: yellow;
	color: red;
	font-weight: bold;
	padding: 0 2px;
	border-radius: 3px;
} */