<nav class="navbar-nav">
    <div class="navbar-imgdiv">
        <img src="ThinkTwice-icon1.png" alt="ThinkTwice logo">
    </div>
    <ul class="navbar-ul">
        <li class="navbar-li" id="navbar-home"><a routerLink="/">Home</a></li>
        <li class="navbar-li" id="navbar-dashboard"><a routerLink="/dashboard">Dashboard</a></li>
        <li class="navbar-li" id="navbar-signup"><a routerLink="/signup">Signup</a></li>
        <li class="navbar-li" id="navbar-login"><a routerLink="/login">Login</a></li>
        <li class="navbar-li" id="navbar-logout"><a routerLink="/login">Logout</a></li>
    </ul>
</nav>