<nav class="navbar">
    <div class="navbar-top">
        <div class="navbar-imgdiv">
            <a routerLink="/">
                <img src="ThinkTwice-icon1.png" alt="ThinkTwice logo" />
            </a>
        </div>
    
        <div class="navbar-links">
            <ul>
                <li><a routerLink="/">Home</a></li>

                <li *ngIf="isLoggedIn"><a routerLink="/dashboard">Dashboard</a></li>
                <li *ngIf="!isLoggedIn"><a routerLink="/signup">Signup</a></li>
                <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        
                <li *ngIf="isLoggedIn" (click)="logout()">Logout</li>
            </ul>
        </div>
    </div>
</nav>
