<!-- <style>
    @media screen and (max-width: 650px) {

    }
</style> -->

<nav class="navbar-nav">
    <div class="navbar-imgdiv">
        <img src="/Ressources/ThinkTwice-icon1.png" alt="ThinkTwice logo">
    </div>
    <ul class="navbar-ul">
        <li class="navbar-li" id="navbar-home"><a routerLink="">Home</a></li>
        <li class="navbar-li" id="navbar-dashboard"><a routerLink="">Dashboard</a></li>
        <li class="navbar-li" id="navbar-signup"><a routerLink="">Signup</a></li>
        <li class="navbar-li" id="navbar-login"><a routerLink="">Login</a></li>
        <li class="navbar-li" id="navbar-logout"><a routerLink="">Logout</a></li>
    </ul>
</nav>