<section>
    <section>
        <h1>Dashboard</h1>
    </section>
    <section>
        <!-- Ici graphique des statistiques -->
        <app-chart></app-chart>

    </section>
    <section>
        <!-- ici le tableau -->

        <table>
            <tbody>
                <tr>
                    <th>Mots / Phrases</th>
                    <th>Itox</th>
                    <th>Url</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>

                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </section>